* {
  margin: 0;
}
#First {
  color: rgb(210, 18, 10);
  background: bisque;
}
#House {
  background: bisque;
  color: red;
}
#Izuku {
  height: 100vh;
  width: 70vw;
}
div {
  background-color: floralwhite;
  border-style: solid;
  width: 60rem;
  height: 30rem;
  font-weight: 900;
  position: relative;
}
body {
  font-family: helvetica;
  text-decoration: none;
}
a {
  text-decoration: none;
  background-color: bisque;
  color: red;
  display: block;
}
#Beginning {
  background-color: black;
}

.linked {
  margin-top: 0;
  top: 0;
  position: sticky;
}
/* #Morales {
  z-index: 4;
  position: absolute;
  top: -2;
} */
h1:hover {
  background-color: black;
  color: coral;
  transition-property: all;
  transition-duration: 1s;
}
div:hover {
  background-color: black;
  color: coral;
  transition-property: all;
  transition-duration: 1s;
}
a:visited {
  color: purple;
}
a:hover,
a:focus {
  color: dodgerblue;
}
a:active {
  color: red;
}
